.header {
    width: 100%;
    background-color: #ffffff;
    /* padding: 25px 0; */
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 80px;
    width: 180px;
}